@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }
  html body {
    font-size: 62.5%;
    /* 1em = 10px */
    height: 100%;
    background-color: #fdf6e3;
    font-family: "Lora", serif;
    text-align: center;
    color: #586e75; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #b58900; }

a:hover {
  color: #586e75; }

a:visited {
  color: #b58900; }

.site {
  font-size: large;
  width: 900px; }

@media (max-width: 1000px) {
  .site {
    font-size: medium;
    width: 80%; } }
@media (max-width: 500px) {
  .site {
    font-size: small;
    width: 95%; } }
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #93a1a1;
  font-family: Monaco, "Courier New", monospace; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #cb4b16; }

.title a:hover {
  color: #586e75; }

.header a.extra {
  color: #93a1a1;
  margin-left: 1em; }

.header a.extra:hover {
  color: #586e75; }

.meta {
  color: #93a1a1; }

.footer {
  color: #839496;
  border-top: 4px solid #eee8d5;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #eee8d5;
  background-color: #002b36;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #eee8d5;
  background-color: #002b36;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #eee8d5;
  background-color: #002b36; }

.post pre.terminal code {
  background-color: #002b36; }
